################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FileSystem/v16/Server/sqlite3
/FileSystem/obj
/.vs/FileSystem
/FileSystemSlave/obj
